* {
  --blue: #1992d4;
  --grey: #e2e8f0;
  --yellow: #f0b429;
  --font-dark: black;
  --font-med: rgb(109, 109, 109);
  --font-light: rgb(219, 219, 219);
  --font-white: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  font-size: 16px;
}

.sidebar {
  background-color: var(--blue);
  color: var(--font-white);
  padding: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.7rem;
  margin: 50px 0 0 0;
  font-weight: bold;
}

.sidebar li {
  margin: 16px 0 16px 0;
}

.header .hero button {
  background-color: var(--blue);
  color: white;
}

.header .top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .top .left,
.header .top .right {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 20px;
}

.header .top i {
  color: var(--font-med);
}

.header .top input {
  background-color: var(--font-light);
  border-style: none;
  border-radius: 2em;
  height: 2rem;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
  /* todo: responsive width */
}

.header .top img {
  border-radius: 100%;
}
