* {
  --primary: #1992d4;
  --font-primary: white;
  --base: #e1e5ea;
  --card: white;
  --accent: #f0b429;
  --font-dark: black;
  --font-med: rgb(88, 88, 88);
  --font-light: rgb(219, 219, 219);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  font-size: 16px;
  background: var(--base);
}

.sidebar {
  background-color: var(--primary);
  color: var(--font-primary);
  padding: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.7rem;
  margin: 50px 0 0 0;
  font-weight: bold;
}

.sidebar li {
  margin: 16px 0 16px 0;
}

.header {
  background-color: var(--card);
  padding-bottom: 24px;
}

.header .top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header .top .left,
.header .top .right {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 20px;
}

.header .top i {
  color: var(--font-med);
}

.header .top input {
  background-color: var(--base);
  border-style: none;
  border-radius: 2em;
  height: 2rem;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
  flex-grow: 1;
  /* width: 40rem; */
  /* todo: responsive width */
}

.header .top img {
  border-radius: 100%;
  width: 3rem;
}

.header .top .name {
  font-size: 1.3rem;
}

.header .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.header .hero .left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.header .hero img {
  border-radius: 100%;
  width: 5rem;
}

.header .hero .left .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header .hero .name {
  font-size: 1.3rem;
  font-weight: bold;
}

.header .hero .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .hero button {
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  border-radius: 20px;
  padding: 8px 24px 8px 24px;
}

main {
  padding: 20px;
  background-color: var(--base);
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.project {
  background-color: var(--card);
  padding: 24px;
  border-radius: 8px;
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color: var(--accent);
}

.project > a {
  text-decoration: none;
  color: var(--font-dark);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.project > a:visited {
  text-decoration: none;
  color: var(--font-dark);
}

.project p {
  padding: 0;
  margin: 8px 0 12px 0;
  color: var(--font-med);
}

.project .buttons {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.project > .buttons > a {
  text-decoration: none;
  color: var(--font-med);
  font-size: 1rem;
}

.project > .buttons > a:visited {
  text-decoration: none;
  color: var(-font-med);
}
