* {
  --blu: #1992d4;
  --gre: #e2e8f0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
}

.sidebar {
  background-color: var(--blu);
  color: white;
}

.header .hero button {
  background-color: var(--blu);
  color: white;
}
