* {
  --blu: #1992d4;
  --gre: #e2e8f0;
  --yel: #f0b429;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  font-size: 16px;
}

.sidebar {
  background-color: var(--blu);
  color: white;
  padding: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.7rem;
  margin: 50px 0 0 0;
  font-weight: bold;
}

.sidebar li {
  margin: 16px 0 16px 0;
}

.header .hero button {
  background-color: var(--blu);
  color: white;
}
